<h2>Students</h2>


<table class="table table-bordered table-nopad">
<tr>
<th>First Name</th>
<th>Last Name</th>
</tr>
{{#each student in model itemController="student"}}
  <tr>
    <td>
      {{input type="text" value=student.first_name focus-out="acceptChanges" insert-newline="acceptChanges"}}
    </td>
    <td>
      {{input type="text" value=student.last_name insert-newline="acceptChanges" focus-out="acceptChanges"}}
    </td>
    <td>
      {{student.group.content.name}}
      {{view "groups_select" selection=student.group.content content=groups change="acceptChanges"}}
    </td>
  </tr>
{{/each}}
<tr>
  <td>
  {{input
  type="text"
  id="new-student-first-name"
  placeholder="First name"
  value=first_name
  action="create"}}
  </td>
  <td>
  {{input
  type="text"
  id="new-student-last-name"
  placeholder="Last name"
  value=last_name
  action="create"
  focus-out="create"}}
  </td>
  <td>
  {{view "groups_select" selection=currentGroup content=groups prompt = '--'}}
  </td>
</tr>
</table>
